{% extends "base.html.twig" %}

{% block title %}Payment Canceled{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-4 text-danger">Payment Canceled</h1>
                <p class="lead mt-3">Unfortunately, your payment could not be processed at this time. Please try again later or contact our support team for assistance.</p>
                <a href="{{ path('app_home') }}" class="btn btn-primary mt-4">Return to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
