{% extends 'base.html.twig' %}

{% block title %}Nos catégories
{% endblock %}

{% block body %}
	<h1>Détail du Categorie
		{{categories.libelle}}</h1>
        <h4>{{categories.slug}}</h4>
        <h4>{{categories.description}}</h4>

{% endblock %}