{% extends 'base.html.twig' %}

{% block title %}
    Utilisateur - Détails
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1>Détail de l'utilisateur</h1>
                </div>
                <div class="card-body">
                    <h4>Email : {{ user.email }}</h4>
                    <h4>Rôles :</h4>
                    <ul class="list-group list-group-flush">
                        {% for role in user.roles %}
                            <li class="list-group-item">{{ role }}</li>
                        {% endfor %}
                    </ul>
                    <h4>Vérifié : <span class="badge {{ user.isVerified ? 'badge-success' : 'badge-danger' }}">{{ user.isVerified ? 'Oui' : 'Non' }}</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
